h2{
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-size: 16px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 10px;
}

.form{
    padding: 0px;
    margin:0px;
    width: 450px;
    max-width: 480px;
}


.column1{
    max-width: 480px;
    color: #000000;
    display: block;
    padding: 5px;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
}

.column1 input{
    display: block;
    margin-bottom: 20px;
    margin-left: 120px;
}

.column2{
    max-width: 480px;
    display: block;
    padding: 5px;
    margin: 20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
}

.column2 input{
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-left: 120px;
}

.input-error{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 30px;
    opacity: 0;
    color: #BB2929;
}

.input-error-active{
    opacity: 1;
}

.input-error-notactive{
    opacity: 0;
}

.wrong-group .label{
	color: #BB2929;
}


.wrong-group .input{
	border: 3px solid #bb2929;
}

.success{
	font-size: 14px;
	color: #119200;
	opacity: 0;
}

.success-active{
	opacity: 1;
}

.message{
	height: 30px;
    line-height: 30px;
    width: 450px;
    text-align: center;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
    opacity: 0;
}

.message-active{
	opacity: 1;
}

.message p {
	margin: 0;
}

.group-btn-send{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    max-width: 480px;
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}



@media(min-width:768px){
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .column1{
        max-width: 340px;
        font-size: 30px;
    }
    
    .column2{
        font-size: 30px;
        max-width: 340px;
    }

    .form{
        max-width: 740px;
        width: 100%;
    }

    .button{
        max-width: 768px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 130px;
    }

    .message{
        height: 50px;
        line-height: 50px;
        width: 760px;
    }
}

@media(min-width:1279px){
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .column1{
        max-width: 580px;
        font-size: 30px;
    }

    .column2{
        font-size: 30px;
        max-width: 580px;
    }

    .form{
        width: 100%;
        max-width: 1220px;
    }

    .button{
        max-width: 1279px;
        display: block;
        align-items: center;
        text-align: center;
        margin-bottom: 140px;
    }

    .message{
        height: 50px;
        line-height: 50px;
        width: 100%;
    }
}