header{
    color: #000000;
    padding-top: 0;
    border-bottom: #000000 2px solid;
}

header nav{
    border-top: #FFFFFF 2px solid;
}

header #branding{
    text-align: center;
    padding: 0;
    margin: 0;
    height: 140px;
    width: 100%;
}


ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

a:hover{
    color: #000000;
}

.navbar{
    background-color: #5C055C;
}

#navbar-header{
    background: url(../img/header.png);
}

.navbar-header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    height: 100px; 
    width: auto;
}

.navbar-menu-mobile{
    color: #AC378F;
    border: 1px solid #FFFFFF;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-link{
    color: #000000;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 70%;
}

.navbar-container{
    position: absolute;
    background: #5C055C;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

.navbar-link{
    color: #FFFFFF;
}

#navbar-header:target .navbar-container{
    height: 300px;
}


@media(min-width:768px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu-mobile{
        display: none;
    }

    .navbar-container{
        height: auto;
        flex-direction: column;
        position: static;
        width: 20%;
        font-size: 24px;
    }
}

@media(min-width:1279px){
    .navbar{
        display: flex;
    }

    .navbar-container{
        height: 30px;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
}