ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    background: url(../img/header.png);
}

.navbar-header{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000; 
}

.navbar-menu-mobile{
    color: #AC378F;
    border: 1px solid #FFFFFF;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-link{
    color: #000000;
    font-size: 56px;
}

.navbar-container{
    position: absolute;
    background: #5C055C;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

.navbar-link{
    color: #FFFFFF;
}

#navbar-header:target .navbar-container{
    height: 300px;
}

.first-column{
    flex:1;
    order: 2;
}

.second-column{
    flex:2;
    order: 1;
}

.third-column{
    flex:1;
    order: 3;
}



@media(min-width:768px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu-mobile{
        display: none;
    }

    .navbar-container{
        height: auto;
        flex-direction: column;
        position: static;
        width: 20%;
        font-size: 24px;
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width:1279px){
    .navbar{
        display: flex;
    }

    .navbar-container{
        height: 30px;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
}